langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

openai==1.64.0
tiktoken

supabase==2.13.0
gotrue
postgrest
realtime
storage3

streamlit==1.42.2
streamlit-aggrid
xlsxwriter
pandas==2.2.3
python-dotenv
pypdf
pyarrow

toolz
tenacity
typing_extensions

psycopg2-binary